<div class="pedido-container card shadow p-4">
  <h2 class="text-center mb-4">Lista de Pedidos</h2>

  <table class="table table-hover align-middle">
    <thead class="table-light">
      <tr>
        <th>ID</th>
        <th>Comprador</th>
        <th>Produtos</th>
        <th>Valor Total</th>
        <th class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of pedidos">
        <td><strong>{{ pedido.id }}</strong></td>
        <td>{{ pedido.comprador.nome }}</td>
        <td>
          <ul class="mb-0 ps-3">
            <li *ngFor="let item of pedido.itens">
              {{ item.produto.nome }} - Quant.: {{ item.quantidade }}
            </li>
          </ul>
        </td>
        <td class="text-success fw-bold">R$ {{ calcularTotal(pedido) | number: '1.2-2' }}</td>
        <td class="text-center">
          <a [routerLink]="['/pedido/editar', pedido.id]" class="btn btn-sm btn-primary me-2">
             Editar
          </a>
          <button class="btn btn-sm btn-danger" (click)="delete(pedido.id!)">
             Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
