<div class="avaliacao-container">
  <h2 class="mb-4">Lista de Avaliações</h2>

  <div *ngIf="avaliacoes.length > 0; else semAvaliacoes">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Produto</th>
          <th>Nota</th>
          <th>Comentário</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let avaliacao of avaliacoes">
          <td>{{ avaliacao.produto.nome || 'Nome não disponível' }}</td>
          <td>
            <span *ngFor="let estrela of [].constructor(avaliacao.nota)">
              ⭐
            </span>
          </td>
          <td>{{ avaliacao.comentario }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #semAvaliacoes>
    <p>Nenhuma avaliação encontrada.</p>
  </ng-template>
</div>
