.avaliacao-container {
  .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 20px 10px;
  }

  h2 {
    padding-top: 10px;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 1.6rem;
    color: #EA1D2C;
    margin-left: 20px;
  }

  .btn-nova-avaliacao {
    background-color: #EA1D2C;
    color: white;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .btn-nova-avaliacao:hover {
    background-color: #c41623;
    transform: scale(1.05);
  }

  .card {
    margin: 20px;
    border-radius: 12px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    }

    .card-body {
      padding: 24px;
      font-size: 1rem;
      color: #495057;

      span {
        font-size: 1.5rem;
        color: gold;
      }

      .card-title {
        margin-bottom: 0.5rem;
      }

      p {
        margin-bottom: 0.3rem;
      }
    }
  }

  .alert {
    margin: 20px;
  }
}
