<div class="pagamento-container">
  <h2 *ngIf="!id" class="mb-4">Novo Pagamento</h2>
  <h2 *ngIf="id" class="mb-4">Editar Pagamento</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="mb-3">
      <label for="pedidoId">ID do Pedido</label>
      <input id="pedidoId" type="number" class="form-control" formControlName="pedidoId">
    </div>

    <div class="mb-3">
      <label for="valor">Valor (R$)</label>
      <input id="valor" type="number" step="0.01" class="form-control" formControlName="valor">
    </div>

    <div class="mt-4">
      <button 
        type="submit" 
        class="btn btn-primary"
        [disabled]="form.invalid"
      >
        {{ id ? 'Atualizar' : 'Salvar' }}
      </button>

      <button 
        type="button" 
        class="btn btn-secondary ms-2" 
        (click)="router.navigate(['/pagamentos'])"
      >
        Cancelar
      </button>
    </div>
  </form>
</div>
