<div class="produto-container card shadow p-4">
  <h2 class="mb-4 text-center">Lista de Produtos</h2>

  <button class="btn btn-success novo-produto-btn" (click)="novoProduto()">
    <i class="bi bi-plus-lg me-2"></i> Novo Produto
  </button>
  <div *ngIf="produtos.length > 0; else semProdutos">
    <table class="table table-hover align-middle">
      <thead class="table-light">
        <tr>
          <th>Nome</th>
          <th>Valor</th>
          <th class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos">
          <td class="fw-bold">{{ produto.nome }}</td>
          <td class="text-success">R$ {{ produto.preco | number: '1.2-2' }}</td>
          <td class="text-center">
            <button class="btn btn-sm btn-primary me-2" (click)="editarProduto(produto.id)">
               Editar
            </button>
            <button class="btn btn-sm btn-danger" (click)="delete(produto.id)">
               Excluir
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #semProdutos>
    <p class="text-muted text-center mt-4">Nenhum produto encontrado.</p>
  </ng-template>
</div>
